<?xml version="1.0"?>

<model>
  <name>Lawn0</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Stefan Grufman</name>
    <email>stefan.grufman@husqvarnagroup.com</email>
  </author>

  <description>
    A test lawn (i.e. no wire) for Gazebo tests.
  </description>
</model>
